.chatBar {
    border-left: 1px solid grey;
    /* flex-grow: 2; */
    flex-grow: 1;
    height: 100vh;
    display: flex;
    flex-direction: column; 
}

.currentContactWrap {
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
    background-color: lightgray;
}

.imgWrap {
    padding: 10px;
}

.imgWrap img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.contactName {
    padding-left: 10px;
    font-size: 20px;
}

.msgWrap {
    padding: 10px;
    flex-grow: 1;
    overflow-y: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

.msgWrap::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.myMsg {
    margin-bottom: 20px;
    text-align: right;
}

.msgText {
    font-size: 16px;
    padding: 5px;
    border-radius: 16px;
}

.myMsg .msgText {
    background-color: lightgray;
}

.contactMsg {
    margin-bottom: 20px;
    text-align: left;
}

.contactMsg .msgText {
    background-color: darkgray;
    color: white;
}

.msgDate {
    font-size: 8px;
    color: gray;
}

.inputMsgWrap {
    padding: 10px;
    background-color: lightgray;
    border-top: 1px solid grey;
    height: 40px;
}